META-INF/src/main/app/blackhawk.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc"
    xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
    xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
    xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    xmlns:https="http://www.mulesoft.org/schema/mule/https"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <flow name="ServiceNow-SOAPSchedulerFlow" doc:name="ServiceNow-SOAPSchedulerFlow">
        <composite-source doc:name="Composite Source">
            <!-- Inbound endpoint to start the flow using Quartz Scheduler -->
            <quartz:inbound-endpoint jobName="SOAPSchedular" cronExpression="${blackhawk.serviceNow.cron}" responseTimeout="10000" connector-ref="QuartzConnector" doc:name="Quartz" repeatInterval="0">
                <quartz:event-generator-job>
                    <quartz:payload>Started Quartz</quartz:payload>
                </quartz:event-generator-job>
            </quartz:inbound-endpoint>

            <!-- Inbound endpoint to invoke the flow from a browser manually apart from Quartz -->
            <http:inbound-endpoint address="http://${http.harness.host.address}:${http.harness.port}/${http.harness.path}" doc:name="HTTP"/>

            <!-- Inbound endpoint to invoke the flow for Integration Testing -->
            <!-- <vm:inbound-endpoint path="servicenow.inactive.users.inbound" doc:name="VM"/>  -->
        </composite-source>

        <set-variable variableName="LastRunTime" doc:name="Variable" value="#[server.dateTime.plusDays(-1).format('yyyy-MM-dd HH:mm:ss')]"/>

        <scripting:component doc:name="Script">
            <scripting:script engine="groovy">
              <![CDATA[
               import java.text.SimpleDateFormat
               now = Calendar.instance
               def plainFormatter = new SimpleDateFormat("yyyy-MM-dd hh:mm:ss")
               def daybefore = plainFormatter.format(now.time-2)
               def script_text1 = """\
                  <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:sys="https://bhndev.service-now.com/sys_user">
                    <soapenv:Header/>
                    <soapenv:Body>
                      <sys:getRecords>
                        <__encoded_query>active=0^locked_out=1^sys_updated_on>
              """
			  def script_text2 = """\
						</__encoded_query>                        
                        <__order_by_desc>sys_updated_on</__order_by_desc>
                      </sys:getRecords>
                    </soapenv:Body>
                  </soapenv:Envelope>
              """
              return script_text1 + daybefore + script_text2
              ]]>
            </scripting:script>
        </scripting:component>

        <logger message="The payload: #[payload]" level="INFO" doc:name="Logger"/>

        <https:outbound-endpoint exchange-pattern="request-response" method="POST" address="https://${sn.user}:${sn.password}@${sn.endpoint}" doc:name="HTTP" connector-ref="HttpsConnector">
            <set-property propertyName="Accept-Encoding" value="gzip"/>
            <response>
                <gzip-uncompress-transformer/>
            </response>
        </https:outbound-endpoint>

        <scripting:component doc:name="Script">
            <scripting:script engine="groovy"><![CDATA[
              def envelope = new XmlSlurper().parse(payload).declareNamespace(soap: 'http://schemas.xmlsoap.org/soap/envelope/')

              return envelope.'soap:Body'.getRecordsResponse.getRecordsResult.collect {
                  [
                          active: it.active.text(),
                          email: it.email.text(),
                          employee_number: it.employee_number.text(),
                          locked_out: it.locked_out.text(),
                          sys_id: it.sys_id.text(),
                          user_name: it.user_name.text(),
                          updatedOn: it.sys_updated_on.text()
                  ]
              }
            ]]></scripting:script>
        </scripting:component>

        <payload-type-filter expectedType="java.util.ArrayList" doc:name="Payload"/>
        <foreach doc:name="For Each">
            <flow-ref name="VerifyAndUpdateUserInDaxFlow" doc:name="Flow Reference"/>
        </foreach>
        <logger message="all users processed" level="INFO" doc:name="FinalLogger"/>
        <!-- <vm:outbound-endpoint path="servicenow.inactive.users.outbound" doc:name="VM"/>  -->
    </flow>
    <flow name="VerifyAndUpdateUserInDaxFlow" doc:name="VerifyAndUpdateUserInDaxFlow">
        <set-variable variableName="serviceNowUserName" value="#[payload['user_name']]" doc:name="serviceNowUserName"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="is_dax_user" queryTimeout="-1" connector-ref="DAX_DB_Connector_Is_Dax_User" doc:name="Is DAX User"/>
        <choice doc:name="Choice">
            <when expression="payload[0].count&gt;0">
                <logger message="User exists in DAX, so try processing it :: #[flowVars.serviceNowUserName]" level="INFO" doc:name="Logger"/>
                <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="get_status" queryTimeout="-1" connector-ref="DAX_DB_Connector_Get_Status" doc:name="Get Current Status"/>
                <choice doc:name="Choice">
                    <when expression="payload[0].enable==1">
                        <logger message="Record to be processed is :: #[flowVars.serviceNowUserName]" level="INFO" doc:name="Logger"/>
                        <jdbc-ee:outbound-endpoint exchange-pattern="one-way" queryKey="inactivate_dax_Emp" connector-ref="DAX_DB_Connector" doc:name="User updated in DAX"/>
                        <jdbc-ee:outbound-endpoint exchange-pattern="one-way" queryKey="audit_dax_Emp" queryTimeout="-1" connector-ref="AUDIT_DB_Connector" doc:name="Audit"/>
                    </when>
                    <otherwise>
                        <logger message="Record already processed in DAX :: #[flowVars.serviceNowUserName]" level="INFO" doc:name="Logger"/>
                        <jdbc-ee:outbound-endpoint exchange-pattern="one-way" queryKey="user_already_deactivated" queryTimeout="-1" connector-ref="AUDIT_DB_User_Already_Deactivated" doc:name="Audit - User Already Deactivated"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <logger message="Record ignored - User Does Not exist in DAX :: #[flowVars.serviceNowUserName]" level="INFO" doc:name="Logger"/>
                <jdbc-ee:outbound-endpoint exchange-pattern="one-way" queryKey="log_not_a_dax_user" queryTimeout="-1" connector-ref="AUDIT_DB_Not_A_Dax_User" doc:name="Audit - Not A DAX User"/>
            </otherwise>
        </choice>
    </flow>
</mule>
